<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset = "UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <title>자기소개 홈페이지</title>
    </head>
    <body style="background-color:rgba(23, 30, 39, 0.7);">        
        <div id="container">
            <header id = "header"> 
                <nav class ="menu">
                    <ul>
                        <li><a href = "../index.html"><b>Home</b></a></li>
                        <li><a href = "about.html"><b>About</b></a></li>
                        <li><a href = "hobby.html"><b>Hobby</b></a></li>
                        <li><a href = "guestbook.html"><b>Guestbook</b></a></li>
                        <li><a href = "contact.html"><b>Contact</b></a></li>
                    </ul>
                </nav>
            </header> 
            <div class="list">
                <div class="second">
                    <div class="box">
                        <span class="about"><img src="../img/me2.jpg" width="300px;" alt="이미지 없음"></span>
                        <h3 class="txt">
                            <br><br>
                            <b>Name : </b>Kang Daeun<br><br>
                            <b>Birthday : </b>2002.06.17.<br><br>
                            <b>Zodiac sign: </b>Gemini<br>
                        </h3>
                        <h4 class="txt">
                            <br>안녕하세요!
                            <br>이번 멋쟁이사자처럼 13기 아기사자 강다은입니다!
                            <br>저는 정보보안암호수학과 21학번이고 
                            <br>개발 실력을 기르기 위해 들어오게 되었습니다!
                            <br>잘 부탁드립니다~~!<br><br><br>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        
    </body>
</html>